certifi==2019.9.11
chardet==3.0.4
Click==7.0
emoji==0.5.4
Flask==1.1.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Js2Py==0.66
lxml==4.0.0
MarkupSafe==1.1.1
pbr==5.4.3
pika==1.1.0
pyjsparser==2.7.1
pymongo==3.9.0
pytz==2019.3
requests==2.22.0
schedule==0.6.0
six==1.12.0
stevedore==1.31.0
tzlocal==2.0.0
urllib3==1.25.6
view==0.1
views==0.3
virtualenv==16.7.5
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
